<li class="list-group-item">
    <div class="row">
        <div class="col-sm-1">{{message.from}}</div>
        <div class="col-sm-10">{{message.body}}</div>
        <div class="col-sm-1">{{timestamp}}</div>
    </div>
</li>