<li class="message-row list-group-item">
    <div class="row">
        <div class="from col-sm-2">{{message.from}}</div>
        <div class="body col-sm-9">{{message.body}}</div>
        <div class="time col-sm-1">{{timestamp}}</div>
    </div>
</li>