html {
    padding: 35px 20px
}

.nav-pane {
    .form-inline input.form-control {
        max-width: 140px;
    }
}

.room-pane {


    .message-input {
        padding: 10px 10px;
        background-color: white;
        border-top: none;
    }
}