<div class="container-fluid">
    <div class="row">
        <div class="nav-pane col-lg-2">
            {{user-control action="setUser"}}
            list of rooms
        </div>
        <div class="col-lg-10">
            {{outlet}}
        </div>
    </div>
</div>