<div class="container-fluid">
    <div class="row">
        <div class="nav-pane col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{user-control action="setUser"}}
                </div>
                <ul class="list-group">
                    {{#each room in controller}}
                        <li class="list-group-item">
                            {{#link-to "room" room}}
                                {{room.name}}
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
                <div class="panel-footer">
                    {{new-room-control action="createRoom"}}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {{outlet}}
        </div>
    </div>
</div>