<div class="room-pane panel panel-default">
    <div class="panel-heading">
        {{name}}
    </div>
    <ul class="list-group">
        {{#each message in messages}}
            {{message-row message=message}}
        {{/each}}
    </ul>
    <div class="message-input panel-footer">
        {{message-input action="sendMessage"}}
    </div>
</div>