<div class="room-pane panel panel-default">
    <div class="panel-heading">
        {{name}}, {{user}}
    </div>
    <div class="panel-body">
        {{#each message in messages}}

        {{/each}}
    </div>
    <div class="message-input panel-footer">
        <form {{action "sendMessage" on="submit"}}>
            {{textarea class="form-control" value=newMessage}}
        </form>
    </div>
</div>